@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="text-center py-5">
    <i class="fas fa-lock fa-3x text-danger mb-3"></i>
    <h4>Erişim Engellendi</h4>
    <p>Bu sayfaya erişim yetkiniz bulunmuyor.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Giriş Yap</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ms-2">Ana Sayfa</a>
</div>


